.h1, h1 {
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.h2, h2 {
  
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: black;
    font-weight: 300;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    margin-top: -112px;
    height: 284px;
}